@using RS1_Faktura.ViewModels
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@model FakturaDetaljiVM

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Klijent:    @Model.ImeKlijenta</th>
        </tr>
           <tr> <th>Datum:      @Model.Datum.ToString("dd.MM.yyyy")</th></tr>
    </thead>
</table>
<div id="ajaxDiv">

</div>
<script>
    function UcitajStavke() {
        $.get("/FakturaStavka/Index?FakturaID=@Model.FakturaId", function (d) {
            $("#ajaxDiv").html(d);
        })
    }
    UcitajStavke();

    function StavkaObrisi(StavkeFaktureId) {
        $.get("/FakturaStavka/Obrisi?StavkeFaktureId=" + StavkeFaktureId,
            function (d) {
                UcitajStavke();
            });
    }

    function StavkaUredi() {
        $.get("/FakturaStavka/Dodaj?StavkeFaktureId=" + StavkeFaktureId,
            function (d) {
                $("#ajaxDiv").html(d);
            });
    }
</script>